<template>
  <div class="menu-container">
    <h2>Cardápio</h2>
    <!-- Menus conforme definido na Sprint 1 -->

    <!-- Carrinho -->
    <div class="cart">
      <h2>Carrinho</h2>
      <ul>
        <li v-for="(item, index) in cart" :key="index">
          {{ item.name }} - R${{ item.price }}
          <button @click="removeFromCart(index)" class="styled-button">Remover</button>
        </li>
      </ul>
      <p>Valor Total do Pedido: R${{ total }}</p>
      <button @click="clearCart" class="styled-button">Limpar Carrinho</button>
      <button @click="finalizeOrder" class="styled-button">Finalizar Pedido</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showHamburguerOptions: false,
      showFriesOptions: false,
      showDrinkOptions: false,
      showDessertOptions: false,
      cart: [],
      total: 0
    };
  },
  methods: {
    toggleOptions(option) {
      this[option] = !this[option];
    },
    async addToCart(name, price) {
      const item = { name, price };
      await fetch("http://localhost:8080/cart", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(item)
      });
      this.fetchCart();
    },
    async removeFromCart(index) {
      const item = this.cart[index];
      await fetch(`http://localhost:8080/cart/${item.id}`, {
        method: "DELETE"
      });
      this.fetchCart();
    },
    async clearCart() {
      await fetch("http://localhost:8080/cart", {
        method: "DELETE"
      });
      this.fetchCart();
    },
    async finalizeOrder() {
      await fetch("http://localhost:8080/orders", {
        method: "POST"
      });
      this.fetchCart();
    },
    async fetchCart() {
      const response = await fetch("http://localhost:8080/cart");
      const data = await response.json();
      this.cart = data;
      this.total = this.cart.reduce((sum, item) => sum + item.price, 0);
    }
  },
  mounted() {
    this.fetchCart();
  }
};
</script>


<style>
@import url('https://fonts.googleapis.com/css2?family=Margherita&display=swap');

body {
  margin: 0;
  font-family: 'Margherita', cursive;
  background-color: antiquewhite;
  color: #333;
}

.menu-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2, h3 {
  text-align: center;
  color: #333;
}

.menu-item {
  margin-bottom: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart {
  margin-top: 40px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-button {
  background-color: rgba(52, 152, 219, 0.1);
  border: 2px solid #3498db;
  color: #3498db;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Margherita', cursive;
  margin-right: 2px;
}

.styled-button:last-child {
  margin-right: 0;
}

.styled-button:active {
  background-color: #2980b9;
}
</style>
