<template>
    <li>
      {{ itemName }} - R${{ itemPrice }}
      <button @click="removeFromCart" class="styled-button">Remover</button>
    </li>
  </template>
  
  <script>
  export default {
    props: {
      itemName: String,
      itemPrice: Number
    },
    methods: {
      removeFromCart() {
        this.$emit('remove-from-cart');
      }
    }
  };
  </script>
  
  <style scoped>
  /* Estilos específicos para o componente CartItem.vue */
  </style>
  