<template>
    <div class="menu-item">
      <h3>{{ itemName }}</h3>
      <p>Preço: R${{ itemPrice }}</p>
      <button @click="addToCart">Adicionar ao Carrinho</button>
    </div>
  </template>
  
  <script>
  export default {
    props: {
      itemName: String,
      itemPrice: Number
    },
    methods: {
      addToCart() {
        this.$emit('add-to-cart', this.itemName, this.itemPrice);
      }
    }
  };
  </script>
  
  <style scoped>
  /* Estilos específicos para o componente Menu.vue */
  </style>
  