<template>
    <div class="cart">
      <h2>Carrinho</h2>
      <ul>
        <cart-item
          v-for="(item, index) in cart"
          :key="index"
          :item-name="item.name"
          :item-price="item.price"
          @remove-from-cart="() => removeFromCart(index)"
        />
      </ul>
      <p>Valor Total do Pedido: R${{ total }}</p>
      <button @click="clearCart" class="styled-button">Limpar Carrinho</button>
      <button @click="finalizeOrder" class="styled-button">Finalizar Pedido</button>
    </div>
  </template>
  
  <script>
  import CartItem from './CartItem.vue';
  
  export default {
    components: {
      CartItem
    },
    props: {
      cart: Array,
      total: Number
    },
    methods: {
      removeFromCart(index) {
        this.$emit('remove-from-cart', index);
      },
      clearCart() {
        this.$emit('clear-cart');
      },
      finalizeOrder() {
        this.$emit('finalize-order');
      }
    }
  };
  </script>
  
  <style scoped>
  /* Estilos específicos para o componente OrderSummary.vue */
  </style>
  